@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2") format("woff2");
}
@font-face {
  font-family: "Kingthings Spikeless";
  src: url(../../fonts/KingthingsSpikeless.ttf) format("truetype");
}
:root {
  color-scheme: light dark;
  --theme-bg-color: light-dark(rgba(255 255 255 / 31%), rgba(16 18 27 / 40%));
  --border-color: light-dark(rgba(255 255 255 / 35%), rgba(113 119 144 / 25%));
  --content-button-color: light-dark(#5cb0ff, #3a6df0);
  --content-button-hover: light-dark(#6891fa, #1e59f1);
  --body-font: "Saira", sans-serif;
  --theme-color: light-dark(#3c3a3a, #f9fafb);
  --hover-menu-bg: light-dark(rgba(255 255 255 / 35%), rgba(12 15 25 / 30%));
  --inactive-color: light-dark(#333333, rgba(146, 152, 179, 0.78));
  --href-color: light-dark(#5cb0ff, #3a6df0);
  --cursor: url("../cursor/Normal.cur"), auto;
}

.light-mode {
  --theme-bg-color: rgba(255 255 255 / 31%);
  --border-color: rgba(255 255 255 / 35%);
  --theme-color: #3c3a3a;
  --hover-menu-bg: rgba(255 255 255 / 35%);
  --inactive-color: #333333;
  --content-button-color: #5cb0ff;
  --content-button-hover: #6891fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  cursor: var(--cursor);
}

body {
  font-family: var(--body-font);
  background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  height: 100vh;
  transition: all 1s ease;
}

.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.video-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dark-light {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: var(--dropdown-bg);
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}
.dark-light svg {
  width: 24px;
  flex-shrink: 0;
  fill: #ffce45;
  stroke: #ffce45;
  transition: 0.5s;
}

.light-mode .dark-light svg {
  fill: transparent;
  stroke: var(--theme-color);
}

body.light-mode:before,
body.light-mode .video-bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
  -webkit-backdrop-filter: saturate(3);
          backdrop-filter: saturate(3);
}

.main {
  background-color: var(--theme-bg-color);
  height: calc(100vh - 10%);
  width: calc(100vw - 10%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 500;
}
.main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--border-color);
  margin: 0 10px 0 10px;
}
.main .header .title {
  font-size: 17px;
  font-weight: 500;
  color: var(--theme-color);
  margin-left: 1rem;
}
.main .header .color-circle {
  width: 15px;
  height: 15px;
  background-color: #f96057;
  border-radius: 50%;
  box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
  flex-shrink: 0;
}
.main .wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
}
.main .wrapper .pagebar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.main .wrapper .pagebar .top-pagebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  margin: 0 20px;
  overflow: auto;
  flex-shrink: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: calc(100% - 40px);
}
.main .wrapper .pagebar .top-pagebar a {
  text-decoration: none;
  color: var(--inactive-color);
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  transition: 0.3s;
  width: -moz-fit-content;
  width: fit-content;
}
.main .wrapper .pagebar .top-pagebar a.is-activeT, .main .wrapper .pagebar .top-pagebar a:hover {
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
  border-radius: 0px;
}
.main .wrapper .pagebar .top-pagebar svg {
  width: 16px;
  margin-right: 8px;
}
.main .wrapper .page {
  display: flex;
  height: 100%;
}
.main .wrapper .page [id^=page-] {
  display: flex;
  height: 100%;
}
.main .wrapper .page [id^=page-] .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  padding: 1% 5%;
  overflow-y: auto;
}
.main .wrapper .page [id^=page-] .content img {
  border-radius: 25px;
  width: 100%;
}
.main .wrapper .page [id^=page-] .content p,
.main .wrapper .page [id^=page-] .content h1,
.main .wrapper .page [id^=page-] .content h2,
.main .wrapper .page [id^=page-] .content h3 {
  color: var(--theme-color);
}
.main .wrapper .page [id^=page-] .content a {
  color: var(--href-color);
}
.main .wrapper .page [id^=page-] .content .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.main .wrapper .page [id^=page-] .content .grid li {
  color: var(--theme-color);
}
.main .wrapper .page [id^=page-] .content .grid .phone {
  list-style-type: none;
}
.main .wrapper .page [id^=page-] .content .grid .social {
  display: flex;
  flex-direction: column;
  -moz-columns: 2;
       columns: 2;
  padding-top: 1em;
  align-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
}
.main .wrapper .page [id^=page-] .content .grid .social a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 0.1666666667fr);
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}
.main .wrapper .page [id^=page-] .content .grid .social a .social-icon {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .wrapper .page [id^=page-] .content .albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  border: 0;
}
.main .wrapper .page [id^=page-] .content .albums_item {
  border: 1px solid var(--theme-color);
  border-radius: 10%;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
  width: 20%;
  height: 10%;
  margin: 2% 1%;
  padding: 0;
}
.main .wrapper .page [id^=page-] .content .albums_item_preview {
  height: -moz-fit-content;
  height: fit-content;
}
.main .wrapper .page [id^=page-] .content .albums_item_preview img {
  all: unset;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
}
.main .wrapper .page [id^=page-] .content .albums_item_title {
  transition: 0.5s Ease;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  background: var(--theme-bg-color);
  opacity: 1.5;
}
.main .wrapper .page [id^=page-] .content .albums_item:hover > .albums_item_title {
  margin-top: 0;
}
.main .wrapper .page [id^=page-] .content .courses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main .wrapper .page [id^=page-] .content .courses a {
  color: var(--href-color);
}
.main .wrapper .page [id^=page-] .content::-webkit-scrollbar {
  background-color: var(--theme-bg-color);
  width: 5px;
}
.main .wrapper .page [id^=page-] .content::-webkit-scrollbar-track {
  background-color: var(--theme-bg-color);
}
.main .wrapper .page [id^=page-] .content::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
  border-radius: 5px;
  border: 1px solid var(--theme-bg-color);
}
.main .wrapper .page [id^=page-] .content::-webkit-scrollbar-button {
  display: none;
}

.sidebar {
  display: flex;
  justify-content: left;
  flex-direction: column;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 100%;
  margin: 10px 0;
}
.sidebar .left-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-right: 1px solid var(--border-color);
  padding: 0 20px;
  overflow: auto;
  flex-shrink: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  list-style-type: none;
}
.sidebar .left-sidebar .side-wrapper {
  width: 100%;
}
.sidebar .left-sidebar a {
  text-decoration: none;
  color: var(--inactive-color);
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  transition: 0.3s;
  width: 95%;
}
.sidebar .left-sidebar a.is-active, .sidebar .left-sidebar a:hover {
  color: var(--theme-color);
  background-color: var(--hover-menu-bg);
}
.sidebar .left-sidebar svg {
  width: 16px;
  margin-right: 8px;
}
.sidebar.hidden {
  translate: -100%;
}

.content-button {
  background-color: var(--content-button-color);
  border: none;
  padding: 8px 26px;
  color: var(--theme-color);
  border-radius: 20px;
  margin-top: 16px;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
  text-decoration: none;
}
.content-button:hover {
  background-color: var(--content-button-hover);
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
iframe#iSidebar {
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=style.css.map */